/* Stile generale */
.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #0077cc;
    color: #fff;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
}

.featured {
    padding: 20px;
    background-color: #fff;
}

.featured h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

