/* Impostazioni di base */

.globalContainer {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff9900;
    overflow: hidden;
}

.login-container {
    text-align: center;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;  /* Aggiungi un po' di spazio tra il titolo e il form */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}


form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1em;
    margin-top: 0px;  /* Ridotto margine */
    text-align: left;
}

input {
    margin-bottom: 20px;
    height: 35px;
    background: transparent;
    border: 2px solid #ff9900;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #ff9900;
    padding: 0 20px;
    transition: .5s ease;
}

input:focus {
    border: 2px solid #ff7e5f;
    box-shadow: 0 0 10px rgba(255, 126, 95, 0.7);
}

button {
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #feb47b;
}

.error {
    color: #ff4d4d;
    font-size: 0.9em;
    margin-top: 2px;  /* Ridotto margine */
}

/* Animazione per il form */
.container:hover {
    transform: translateY(-10px);
}

/* Media query per dispositivi mobili */
@media (max-width: 600px) {
    .container {
        padding: 20px;
        width: 90%;
    }

    h1 {
        font-size: 2em;
    }

    label {
        font-size: 1em;
    }

    input, button {
        font-size: 1em;
    }
}

.contenitore {
    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenitore span {
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background: #ff9900;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animatedBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
}

@keyframes animatedBlink {
    0% {
        background: yellow;
    }
    25% {
        background: #ff9900;
    }
}