<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" href="#">
    <title>Carrello</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/Carrello.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="/css/Footer.css">
    <link rel="stylesheet" href="/css/Header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/Carrello.js"></script>
</head>

<body>
<header th:replace="header :: header"></header>

<p class="cat">Carrello</p>

<div th:if="${carrelloItem == null || carrelloItem.isEmpty()}">
    <h2>No products available</h2>
</div>



<div class="contenitore-grid" th:each="carrello : ${carrelloItem}">


        <div class="item-grid">
            <h4 th:text="${carrello.carrello.id.nome}"></h4>
        </div>

        <div class="item-grid">
            <img class="img" th:src="@{/images/{name}(name=${carrello.immagine})}"
                 th:alt="${carrello.carrello.id.nome}">
        </div>

        <div class="item-grid">
            <h4 th:text="${#numbers.formatDecimal(carrello.prezzo * carrello.carrello.quantita, 0, 2)} + '€'"></h4>
        </div>

        <div class="item-grid">
            <input  type="number" id="quantita" th:value="${carrello.carrello.quantita}" min="1" />
            <input  type="hidden" id="nome" name="nome" th:value="${carrello.carrello.id.nome}">
            <button type="button" class="aumentaQuantita">+</button>
        </div>

        <div class="item-grid">
            <form th:action="@{/rimuovi/{nome}(nome=${carrello.carrello.id.nome})}" method="POST" >
                <input type="hidden" name="nome" th:value="${carrello.carrello.id.nome}">
                <button type="button" class="rimuovi-carrello, pul" th:attr="data-nome-prodotto=${carrello.carrello.id.nome}">Elimina</button>
            </form>
        </div>

</div>
       <div class="botPul">
            <form th:action="@{/riepilogoAcquisto}" method="POST">
                <input type="submit" class="pul" value="Acquista" id="btnAcquista" />
            </form>

            <form th:action="@{/rimuoviCarrello}" method="POST">
                <input type="submit" class="pul" value="CancellaTutto"  />
            </form>
       </div>

<div th:replace="footer :: footer"></div>
</body>

</html>