<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Catalogo Prodotti</title>
    <link rel="stylesheet" href="/css/prod.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <script src="/script/btnQuantita.js"></script>
    <script src="/script/Popup.js"></script>
</head>
<body>
<header>
    <h1 class="company-name">Catalogo<span class="highlight"> Prodotti</span></h1>
    <form th:action="@{/prodotti}" method="POST">
        <input type="hidden" name="stampa" value="anno">
        <input type="hidden" name="param" value="DataRilascio">
        <input type="submit" class="adminBtn" value="Ordina per Data Rilascio">
    </form>
</header>

<main>
    <div class="catalogo">
        <div th:if="${products == null || products.isEmpty()}">
            <h2>No products available</h2>
        </div>
        <div th:each="product : ${products}" class="prodotto">
            <div style="text-align: right">
                <form id="preferitiForm">
                 <!--   <button type="button" class="star"
                            th:classappend="${product.preferito} ? 'active' : ''"
                            th:onclick="|toggleFavorite(${product.nome})|">
                        &#9733;
                    </button>-->
                </form>
            </div>
            <a th:href="@{/dettagli/{id}(id=${product.nome})}" style="text-decoration: none">
                <img th:src="@{/images/{name}(name=${product.immagine})}"
                     th:alt="${product.nome}">
                <h3 th:text="${product.nome}">Nome del Prodotto</h3>
            </a>
            <p class="descrizione" th:text="${product.piattaforma ?: product.genere}">Descrizione</p>
            <p class="prezzo" th:text="${product.prezzo} + ' €'">Prezzo</p>
            <div>
                <!--<button th:if="${product.quantita > 0}"
                        id="carrello"
                        th:onclick="|addCart(${product.nome})|">
                    Add to cart
                </button>-->
                <h2 th:if="${product.quantita == 0}">Esaurito</h2>
            </div>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2025 GameShop - Tutti i diritti riservati.</p>
</footer>
<script>
    function toggleFavorite(nome) {
        // Funzione per gestire l'aggiunta o rimozione dai preferiti
    }

    function addCart(nome) {
        // Funzione per aggiungere un prodotto al carrello
    }
</script>
</body>
</html>