
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Catalogo Prodotti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/Footer.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="/css/Catalogo.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/Carrello.js"></script>
    <script src="/js/Catalogo.js"></script>
</head>
<body>
<header th:replace="header :: header"></header>

<main>
    <div class="search-container">

        <input type="text" id="search-bar" placeholder="Cerca un prodotto..." />
        <button id="search-button">Cerca</button>
    </div>


    <div class="catalogo">
        <div th:if="${products == null || products.isEmpty()}">
            <h2>Nessun Prodotto Disponibile</h2>
        </div>
        <div th:each="product : ${products}" class="prodotto">
            <div style="text-align: right">

                    <form th:action="@{/utenti/preferiti/toggle/{nome}(nome=${product.nome})}" method="post">
                        <button type="submit" class="star"
                                th:classappend="${product.isPreferito ? 'active' : ''}"
                                th:attr="data-preferito=${product.isPreferito}">
                            &#9733;
                        </button>
                    </form>

                <!--<script>
                    const button = document.querySelector('.star');
                    const preferito = button.getAttribute('data-preferito');
                </script>-->

            </div>
            <a th:href="@{/prodotto/{nome}(nome=${product.nome})}" style="text-decoration: none">
                <img th:src="@{/images/{name}(name=${product.immagine})}"
                     th:alt="${product.nome}">
                <h3 th:text="${product.nome}">Nome del Prodotto</h3>
            </a>
            <p class="descrizione" th:text="${product.piattaforma ?: product.genere}">Descrizione</p>
            <p class="prezzo" th:text="${product.prezzo} + ' €'">Prezzo</p>

            <div>
                <form th:if="${product.quantita > 0}" th:action="@{/aggiungi/{nome}(nome=${product.nome})}" method="POST">
                    <input type="hidden" name="nome" th:value="${product.nome}">
                    <button type="button" class="aggiungi-carrello" th:attr="data-nome-prodotto=${product.nome}">Aggiungi al carrello</button>
                </form>
                
                <div id="error-message" class="error" style="display: none;"></div>
                <h2 th:if="${product.quantita == 0}">Esaurito</h2>
            </div>
        </div>
    </div>
</main>

<footer th:replace="footer :: footer"></footer>
</body>
</html>

