<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="/css/DettagliProdotto.css">
    <link rel="stylesheet" href="/css/Footer.css">
    <link rel="stylesheet" href="/css/Header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/Carrello.js"></script>

</head>

<body>
<header th:replace="header :: header"></header>

<div th:if="${product != null and product.nome != null}" class="main">
    <!-- Nome del prodotto -->
    <strong class="titoloProd" th:text="${product.nome}"></strong>
    <p class="sottoTitoloProd">by <strong style="color: #949494" th:text="${product.casaProd}"></strong></p>

    <div class="gridMainInfo">
        <div class="imgContainer">
            <img th:src="@{/images/{name}(name=${product.immagine})}" alt="Immagine del prodotto" style="max-width: 300px;" />
        </div>
        <div class="info">
            <!-- Prezzo -->
            <p>Prezzo: <span style="font-size: 20px; color: black" th:text="${product.prezzo} + '€'"></span></p>
            <!-- Genere -->
            <p>Genere: <span style="font-size: 20px; color: black" th:text="${product.genere}"></span></p>
            <!-- Piattaforma -->
            <p th:if="${product.piattaforma != null}">Piattaforma: <span style="font-size: 20px; color: black" th:text="${product.piattaforma}"></span></p>
            <!-- Data di rilascio -->
            <p>Data Rilascio: <span style="font-size: 20px; color: black" th:text="${#dates.format(product.dataRilascio, 'dd/MM/yyyy')}"></span></p>
            <!-- Tipo -->
            <p>Tipo: <span style="font-size: 20px; color: black" th:text="${product.tipo}"></span></p>

            <p>Tipo: <span style="font-size: 20px; color: black" th:text="${product.quantita}"></span></p>
            <!-- Pulsante Aggiungi al carrello -->
            <div>
                <form th:if="${product.quantita > 0}" th:action="@{/aggiungi/{nome}(nome=${product.nome})}" method="POST">
                    <input type="hidden" name="nome" th:value="${product.nome}">
                    <div class="btnAggiungi">
                        <button type="button" class="aggiungi-carrello" th:attr="data-nome-prodotto=${product.nome}">Aggiungi al carrello</button>
                    </div>
                </form>

                <div id="error-message" class="error" style="display: none;"></div>
                <h2 th:if="${product.quantita == 0}">Esaurito</h2>
            </div>
        </div>
    </div>

    <!-- Video del prodotto -->
    <div th:if="${product.video != null}" class="descrizione">
        <video th:src="@{/video/{name}(name=${product.video})}" controls style="max-width: 500px;" muted></video>
    </div>

    <!-- Descrizione del prodotto -->
    <div class="descrizione">
        <p class="titoloDescrizione">DESCRIZIONE</p>
        <p th:text="${product.descrizione}"></p>
    </div>
</div>

<!-- Messaggio prodotto non disponibile -->
<div th:if="${product == null or product.nome == null}">
    <h2>No product available</h2>
</div>

<!-- Inclusione del footer -->
<div th:replace="footer :: footer"></div>
</body>

</html>
