<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/Header.css">
  <title>Header</title>
</head>
<body>
<header>
  <div class="logo">
    <a href="/utenti/home"><h1>RogueGames</h1></a>
  </div>
  <nav>
    <ul>
      <li><a href="/Catalogo">Catalogo</a></li>
      <li><a href="/Carrello">Carrello</a></li>

      <!-- Controllo se l'utente è loggato -->
      <li th:if="${utente == null}">
        <a href="/utenti/login">Login</a>
      </li>
      <li th:if="${utente != null}">
        <a href="/utenti/profilo">Profilo</a>
        <a th:href="@{/Logout}">Logout</a>
      </li>
    </ul>
  </nav>
</header>
</body>
</html>

