<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione Utente</title>
    <link rel="stylesheet" href="/css/Register.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="/css/Footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/Registrazione.js"></script>
    <script src="/js/Popup.js"></script>
</head>
<body>
    <header th:replace="header :: header"></header>
    <div class="globalContainer">
        <div th:if="${error}">
            <script>
                provaAlert("[[${error}]]");
            </script>
        </div>

        <form id="registrationForm" th:action="@{/utenti/registrati}" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required minlength="6" maxlength="45" placeholder="pova@prova.it"/><br/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required minlength="8" maxlength="50"/><br/>
            <div id="passwordError" style="color: red;"></div><br/>

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required minlength="2" maxlength="45"/><br/>

            <label for="cognome">Cognome:</label>
            <input type="text" id="cognome" name="cognome" required minlength="2" maxlength="45"/><br/>

            <label for="eta">Età:</label>
            <input type="number" id="eta" name="eta" required min="10" max="120"/><br/>

            <label for="residenza">Residenza:</label>
            <input type="text" id="residenza" name="residenza" required minlength="7" maxlength="45"/><br/>

            <label for="tel">Telefono:</label>
            <input type="tel" id="tel" name="tel" required minlength="10" maxlength="10" pattern="[0-9]{10}"
                   oninput="this.value = this.value.replace(/[^0-9]/g, '')" placeholder="3334179221"/>

            <button type="submit">Registrati</button>
        </form>
    </div>
    <div th:replace="footer :: footer"></div>
</body>
</html>
