<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione Utente</title>
    <link rel="stylesheet" href="/css/Register.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="/css/Footer.css">
    <script src="/js/Registrazione.js"></script>
</head>
<body>
<header th:replace="header :: header"></header>
<div class="globalContainer">
    <div th:if="${error}">
        <p style="color: red;" th:text="${error}"></p>
    </div>

    <form id="registrationForm" th:action="@{/utenti/registrati}" method="post" th:object="${utente}">
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required minlength="6" maxlength="45"/><br/>
        <div th:if="${#fields.hasErrors('email')}" style="color: red;">
            <span th:errors="*{email}"></span>
        </div><br/>

        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required minlength="8" maxlength="50"/><br/>
        <div id="passwordError" style="color: red;"></div><br/>

        <label for="nome">Nome:</label>
        <input type="text" id="nome" th:field="*{nome}" required minlength="2" maxlength="45"/><br/>
        <div th:if="${#fields.hasErrors('nome')}" style="color: red;">
            <span th:errors="*{nome}"></span>
        </div><br/>

        <label for="cognome">Cognome:</label>
        <input type="text" id="cognome" th:field="*{cognome}" required minlength="2" maxlength="45"/><br/>
        <div th:if="${#fields.hasErrors('cognome')}" style="color: red;">
            <span th:errors="*{cognome}"></span>
        </div><br/>

        <label for="eta">Età:</label>
        <input type="number" id="eta" th:field="*{eta}" required min="10" max="120"/><br/>
        <div th:if="${#fields.hasErrors('eta')}" style="color: red;">
            <span th:errors="*{eta}"></span>
        </div><br/>

        <label for="residenza">Residenza:</label>
        <input type="text" id="residenza" th:field="*{residenza}" required minlength="7" maxlength="45"/><br/>
        <div th:if="${#fields.hasErrors('residenza')}" style="color: red;">
            <span th:errors="*{residenza}"></span>
        </div><br/>

        <label for="tel">Telefono:</label>
        <input type="tel" id="tel" th:field="*{tel}" required minlength="10" maxlength="10"/><br/>
        <div th:if="${#fields.hasErrors('tel')}" style="color: red;">
            <span th:errors="*{tel}"></span>
        </div><br/>

        <button type="submit">Registrati</button>
    </form>
</div>
<div th:replace="footer :: footer"></div>

</body>
</html>
