<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Riepilogo Acquisto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Footer.css">
    <link rel="stylesheet" href="/css/Header.css">
</head>
<body>

<!-- Inclusione del frammento header -->
<div th:replace="header :: header"></div>

<div class="container">
    <h1>Riepilogo Acquisto</h1>

    <!-- Esempio di contenitore con dati dinamici -->
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Quantità</th>
            <th>Prezzo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${carrelloItem}">
            <td>
            <img class="img" th:src="@{/images/{name}(name=${item.immagine})}" th:alt="${item.carrello.id.nome}">
            </td>
            <td th:text="${item.carrello.id.nome}"></td>
            <td th:text="${item.carrello.quantita}"></td>
            <td th:text="${item.prezzo*item.carrello.quantita}"></td>
        </tr>
        </tbody>
    </table>

    <div class="text-right">
        <h3>Totale: <span th:text="${#numbers.formatDecimal(totale,2,2)} + '€'"></span></h3>
    </div>

</div>

<!-- Inclusione del frammento footer -->
<div th:replace="footer :: footer"></div>

</body>
</html>